.idea/*
*.log
*.bak
*.DS_Store
*/*.DS_Store
*.sublime-project
*.sublime-workspace
*.sublime-settings
config
config/*
*/*.zip
/src/profiles/
/src/classes/*.cls-meta.xml
/resource-bundles/static.resource/mm.log
/resource-bundles/static.resource/Archive.zip
/src/classes/BECUController.cls
/src/pages/becu.page*
/src/staticresources/BECU_Theme.resource*
/src/staticresources/FT_Theme.resource*
/src/layouts/Work*
/src/objects/Work*
/src/workflows/Work*

/node_modules/
*/node_modules/
.project
.settings
salesforce.schema
Referenced Packages
